<div class="container">
  <div  
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <div class="row pt-5">
    <div class="col-md-8 p-2 " *ngFor="let post of Products">
     <!-- single post card -->
      <div class="card shadow">
       <div class="card-body">
        <h5 class="card-title text-center ">{{post.Name}} </h5>
        <p class="card-text">{{post.Description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>  
        </div>
      </div>
     </div>
  </div> 
</div>
  
  
</div>